<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings> 
  <add name="OnlineShoppingDatabase" providerName="MySql.Data.MySqlClient"
       connectionString="server=localhost;user id=root;database=sdv701_online_shopping;SslMode=none"/>
</connectionStrings>
</configuration>

